.topic-body .cooked {
  min-width: 768px;
}

@media (width <= 1420px) {
  .timeline-container {
    display: none;
  }
}

.cooked pre[data-code-wrap="rapidoc"] {
  overflow-y: auto;
  margin: 1em 0;
  font-size: var(--font-0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;

  &:not([data-processed="true"]) {
    // prevents text flashing while loading
    font-size: 0;
  }
}
@import "swagger-ui.css";


